/* Universal Selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Playfair Display';
    color: rgb(98, 98, 98)
  }
  
    
/* Tag Selector  */
h2 {
    color: rgb(98, 98, 98);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 27px;
    /* font-weight:bold;
    font-style: italic;
    text-align: center;
    text-align: right;  not needed code*/
}

p {
  margin-bottom: 24px;
}

section {
  display: block;
}
/* Class Selector*/
.heading {
    color: rgb(98, 98, 98);
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    /*font-family: cursive;*/
}

a {
    text-decoration: none;
    color: rgb(98, 98, 98);
}

p {
  font-size: 14px;
}

img {
  margin-top: 0px;
  margin-bottom: 27px;
}


.header-name {
  width: 900px;
  text-decoration: none;
  font-size: 14px; 
  color: rgb(98, 98, 98);
  padding: 0px;
  border: 0px;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}

.header-menu {
    width: 900px;
    text-decoration: none;
    font-size: 14px; 
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: auto;
    margin-top: 78px;
    margin-bottom: 100px;
    background-color: white;
    /* display: flex;
    justify-content: space-evenly; */
    vertical-align: middle;
}

.menu-item {
  margin-right: 90px;
  display: inline-block;
  line-height: 24px;
  text-transform: uppercase;
  list-style: none;
}

a:hover {
    color: rgb(3, 169, 244);
  }

  
.outlined {
    width: 160px;
    height: 60px;
    padding: 0px;
    outline: solid;
}
  

/* .block {
    width: 420px;
    height: auto;
    padding: 25px;
    border: 0px;
    margin: auto;
} */

/* Main Content */

.block2 {
    /* margin-top: 0px; */
    width: 900px;
    /* height: auto; */
    padding: 0px;
    border: 0px;
    margin: auto;
    font-size: 0px;
}

.block2_art {
    display: inline-block;
    width: 420px;
    padding: 0px;
    background-color: white;
    margin-right: 60px;
    margin-bottom: 112px;
  }

.block2_art:nth-child(2n) {
    margin-right: 0;
}

.block2_art:nth-last-child(-n+3) {
  margin-bottom: 33px;
}

.upcase { 
    text-transform: uppercase;
  }

.ubuntu {
  font-family: 'Ubuntu', light;
  font-weight: 300;
  font-size: 14px;
  color: #b4ad9e;
  font-weight: strong;
  margin-bottom: 18px;
}

.content-box {
    box-sizing: content-box;
    display: inline-block;
  }

.bottom-menu {
  /* display: inline-block; */
  padding: 18px;
  width: 160px;
  /*height: 60px;*/
  color: rgb(98, 98, 98);
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 72px;
  float: none; 
  font-size: 20px;
  text-align: center;
  border: solid 1px;
  font-family: 'Playfair Display', serif;
}
/* 
.bottom-menu:hover {
  color: rgb(3, 169, 244);
  flood-color: rgb(3, 169, 244);
  cursor: pointer;
  touch-action: auto;
} */

.button {
  display: inline-block;
  padding: 15px;
  border: none;
  background-color: gray;
}

.button:hover {
  background-color: lightgray;
}

 .horizontal-alignment {
  padding: 25px;
  background-color: lightgray;
  text-align: center;
} 

.vertical-alignment div {
    display: inline-block;
    width: 100px;
    background-color: coral;
  }

/* ID selector */

#top-heading {
    color: violet;
}