/* connecting the Google Playfair fonts*/
<style>
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
</style> 

/* Universal Selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: rgb(98, 98, 98)
  }
  
    
/* Tag Selector
h2 {
    color:red;
    font-size: 24px;
    font-weight:bold;
    font-style: italic;
    text-align: center;
    text-align: right;
}*/

/* Class Selector*/
.heading {
    color: blue;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    /*font-family: cursive;*/
}

a {
    text-decoration: none;
}

.header-menu {
    width: 960px;
    text-decoration: none;
    height: auto;
    padding: 25px;
    border: 0px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

a:hover {
    color: rgb(3, 169, 244);
  }
 
 
.outlined {
    width: 100px;
    height: 30px;
    outline: solid;
}
  

.block {
    width: 420px;
    height: auto;
    padding: 25px;
    border: 0px;
    margin: auto;
}

.block2 {
    width: 960px;
    height: auto;
    padding: 25px;
    border: 0px;
    margin: auto;
}

.block2 div {
    display: inline-block;
    width: 420px;
    padding: 25px;
    background-color: white;
  }

  /*
.block2 > div {
    vertical-align: middle;
    padding: 25pix;
  }*/

.content-box {
    box-sizing: content-box;
    display: inline-block;
  }

.margin-bottom {
    margin-bottom: 20px;
}

button {
  display: inline-block;
  padding: 15px;
  border: none;
  background-color: gray;
}

button:hover {
  background-color: lightgray;
}

 .horizontal-alignment {
  padding: 25px;
  background-color: lightgray;
  text-align: center;
} 

.vertical-alignment div {
    display: inline-block;
    width: 100px;
    background-color: coral;
  }

/* ID selector */

#top-heading {
    color: violet;
}

/* Descendant selector */

ul p {
    
}