* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.media__gallery__container {
    margin: auto;
    width: 100%;
    border: 10px solid coral;
}


.media__gallery {
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1200px;
    border: 1px solid  tomato;
}

.gallery__item {
    padding:10px 10px;
    margin: 0;
    width: 300px;
}

/* SOCIAL GALERY START  */

.social__gallery__container {
    width: 100%;
    border: 10px solid greenyellow;
}

.social__gallery {
    width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px 20px;
    flex-direction: row;
    justify-content: space-around;
    border: 10px solid lightseagreen;
}

.social__item__card {
    width: auto;
    padding: 5px 20px;
    border: 5px solid grey;
    box-shadow: 10px 5px 5px grey;
    margin-right: 20px;
    transition-property: all;
}

.social__item__card:hover {
    transition: linear 0.2s;
    box-shadow: 15px 10px 35px darkslateblue;
}

.social__item__card:hover .h2{
    color: hotpink;
    transition: color 0.3s;
    /* font-size: 46px; */
    /* transform: font-size(46px); */
    transform: scale(1.15, 1.15);
    transition-property: transform 0.2;
    /* transition-duration: 0.3s; */
}

.social__item__card:hover .social__button{
    background-color: hotpink;
    color: white;
    transition: linear 0.3s;
}



.social__item__card:hover .social_image {
    transform: rotate(5deg);    
}

.social__item__card:last-child {
    margin-right: 0px;
}




.social_image {
    /* transition-property: all; */
    transition-duration: 0.2s;
    display: block;
    padding: 10px;
    margin: auto;
    
}

.h2 {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.social__item__text {
    font-family: Arial, Helvetica, sans-serif;
    padding:10px 35px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.social__button {
    display: block;
    width: 250px;
    height: 50px;
    padding-top: 20px;
    background-color: grey;
    border-radius: 10px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}